git+https://github.com/TeamPGM/pyrogram
pyrotgcrypto
bilibili-api-python
httpx
pillow
cashews
coloredlogs
qrcode
playwright
uvicorn
jinja2
apscheduler
pytz
beautifulsoup4
lxml
sqlalchemy
sqlmodel
aiosqlite
aiofiles
pydantic
lottie
atproto
setuptools
